<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69454174886-2unpkaghs418cabd9nhb3g47u9675g84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69454174886-2unpkaghs418cabd9nhb3g47u9675g84</string>
	<key>API_KEY</key>
	<string>AIzaSyDzdLZFl7zS6GqrtznjBUdxv4ruYwQ7x88</string>
	<key>GCM_SENDER_ID</key>
	<string>69454174886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>imac-5cf87</string>
	<key>STORAGE_BUCKET</key>
	<string>imac-5cf87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69454174886:ios:beaee04612e2df810bf267</string>
</dict>
</plist>